
bin/org/lessons/java/animali/astratti/Passerotto.class
bin/org/lessons/java/animali/astratti/Main.class
bin/org/lessons/java/animali/astratti/Delfino.class
bin/org/lessons/java/animali/astratti/Aquila.class
bin/org/lessons/java/animali/astratti/Cane.class
bin/org/lessons/java/animali/astratti/Animali.class
.project
.classpath
